## The following requirements were added by pip freeze:
blinker==1.4
certifi==2020.6.20
chardet==3.0.4
Click==7.1.2
colorclass==2.2.0
docopt==0.6.2
Flask==1.1.2
gunicorn==20.0.4
holidays==0.10.3
idna==2.10
inflection==0.5.1
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.17.0
MarkupSafe==1.1.1
more-itertools==8.5.0
newsapi-python==0.2.6
nltk==3.5
numpy==1.22.0
oauthlib==3.1.0
packaging==20.4
pandas==0.24.1
pip-upgrader==1.4.6
pyparsing==2.3.1
PySocks==1.6.8
python-dateutil==2.8.0
pytz==2018.9
Quandl==3.4.6
requests==2.20.0
requests-oauthlib==1.2.0
scikit-learn==0.22.1
scipy==1.4.1
sentry-sdk==0.14.0
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
terminaltables==3.1.0
textblob==0.15.3
tweepy==3.8.0
urllib3==1.24.2
Werkzeug==0.15.3
