certifi==2018.11.29
chardet==3.0.4
Click==7.0
colorclass==2.2.0
docopt==0.6.2
Flask==1.0.2
gunicorn==19.9.0
holidays==0.9.9
idna==2.5
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
more-itertools==6.0.0
newsapi-python==0.2.3
nltk==3.4
numpy==1.16.2
oauthlib==3.0.1
packaging==19.0
pandas==0.24.1
pip-upgrader==1.4.6
pyparsing==2.3.1
PySocks==1.6.8
python-dateutil==2.8.0
pytz==2018.9
Quandl==3.4.6
requests==2.20.0
requests-oauthlib==1.2.0
scikit-learn==0.20.3
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
terminaltables==3.1.0
textblob==0.15.3
tweepy==3.7.0
urllib3==1.21.1
Werkzeug==0.14.1
